
<%= form_for @post, :html => {:multipart => true} do |f| %>
	<% if @post.errors.any? %>
	    <div id="error_explanation">
	      <h4 class="error"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
	 
	      <ul>
	      <% @post.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
    <% end %>
	<%= f.label :title %><br>
	<%= f.text_field :title, placeholder: "Placeholder Text" %><br>
	<br>
	<%= f.label :body %><br>
	<%= f.text_area :body, placeholder: "Body goes here" %>
	<br>
	<%= f.label :image %><br>
	<%=f.file_field :images, multiple: true %><br>
	<%= f.submit %>
<% end %>
