<section class="container">
	<div class="row">

		<article id="content" class="col-md-12">
			<p id="notice"><%= notice %></p>

			<p>
				<%= image_tag @post.image_url %>
			</p>

			<p><%= @post.created_at.strftime("%d %b. %Y") %></p>

			<h1><%= @post.title %></h1>

			<div><%= simple_format @post.body %></div>

			<button class="black-butt">
				<%= link_to "edit post", edit_post_path(@post) %>
			</button>
			<button class="black-butt">
				<%= link_to 'delete post', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
			</button>

		</article>
	</div>
</section>