  	<nav id="main-nav" class="container">

  		<header>
  			<div class="row">

  				<div class="col-md-6 site-name">
  					<h3 class="one-half-left" id="site-title">
              <%= link_to 'Adonis Gardens', root_path, title: "A Hipster Flowershop", rel: "home" %>
            </h3>
  				</div>

  				<aside class="col-md-6 header widget-area" role="complementary">
  					<div class="widget-container social-media">
  						<ul>
  							<a href="#" 
  								data-toggle="tooltip"
  								data-placement="bottom"
  								data-trigger="hover"
  								data-title="Facebook">

  					            <li class="entypo-facebook"></li>
  				            </a>
  							<a href="#" 
  								data-toggle="tooltip"
  								data-placement="bottom"
  								data-trigger="hover"
  								data-title="Twitter">

  					            <li class="entypo-twitter"></li>
  				            </a>
  							<a href="#" 
  								data-toggle="tooltip"
  								data-placement="bottom"
  								data-trigger="hover"
  								data-title="Tumblr">

  					            <li class="entypo-tumblr"></li>
  				            </a>
  						</ul>
  					</div>
  				</aside>
  				
  			</div>	<!-- .row -->
  		</header>

  		<div class="row">
  			<div class="col-md-12">

  				<ul class="nav nav-pills nav-justified">

  					<li role="presentation" class="active link-wrapper">
              <button class="box-butt">
    						<%= link_to "Home", '#' %>
              </button>
  					</li>
  					<li role="presentation" class="active link-wrapper">
              <button class="box-butt">
                <%= link_to "Posts", '/posts/index' %>
              </button>
            </li>
  					<li role="presentation" class="active link-wrapper">
              <button class="box-butt">
                <%= link_to 'About', '#' %>
              </button>
            </li>
  					 <li role="presentation" class="active link-wrapper">
              <button class="box-butt">
                <%= link_to 'Contact', '#' %>
              </button>
            </li>
  				</ul>

  			</div>
  		</div>
  	</nav>