<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/sheets' %>
    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
    <![endif]-->    
  </head>

  <body>

  <%= render 'layouts/header' %>

  	<main>
    <%= yield %>
    </main>

  <%= render "layouts/footer" %>

    
  </body>
</html>
