

<section class="container hero-home">
	<div class="row">

		<div class="col-md-12">
			
		</div>

	</div>
</section>

	<section class="container feat-home">
		<div class="row">
			
			<div class="col-md-4 widget-container">
				<figure></figure>
			</div>

			<div class="col-md-4 widget-container">
				<figure></figure>
			</div>

			<div class="col-md-4 widget-container">
				<figure></figure>
			</div>

		</div>
	</section>

	<section class="container">
		<div class="row">

			<article id="content" class="col-md-9">

				<!-- <div class="entry-meta">
					<h2>This is the homepage</h2>
					<img class="size-large" alt="" src="img/featured-image.jpg">
				</div>	section.entry-meta

				<div class="entry-content">
					<img class="alignright" src="img/another-image.jpg">
				</div>
				<div class="entry-meta"></div> -->

				<% @post.each do |post| %>
				<div id="post-1" class="post post-snippet">

						<div class="post-gallery">

							<%= image_tag post.image, class: "post-img" %>
						
							<!-- <button class="entypo-left-open-big prev " role="button" aria-label="previous"></button>	 -->

							<!-- <div class="post-slider">

								<div class="slick-item">
									<a href="images/flower-1.jpeg" data-lightbox="post-1-img-reel">
										<img src="/images/flower-1.jpeg">
									</a>
								</div>
								<div class="slick-item">
									<a href="images/flower-2.jpeg" data-lightbox="post-1-img-reel">
										<img src="/images/flower-2.jpeg">
									</a>
								</div>
								<div class="slick-item">
									<a href="images/flower-3.jpeg" data-lightbox="post-1-img-reel">
										<img src="/images/flower-3.jpeg">
									</a>
								</div>
								<div class="slick-item">
									<a href="images/flower-4.jpeg" data-lightbox="post-1-img-reel">
										<img src="/images/flower-4.jpeg">
									</a>
								</div>

							</div> -->	<!-- .post-slider -->

							<!-- <button class="entypo-right-open-big next" role="button" aria-label="next"></button> -->

							<!-- <div class="post-slider-nav">
								<div class="slick-item">
									<img src="img/flower-1.jpeg">
								</div>
								<div class="slick-item">
									<img src="img/flower-2.jpeg">
								</div>
								<div class="slick-item">
									<img src="img/flower-3.jpeg">
								</div>
								<div class="slick-item">
									<img src="img/flower-4.jpeg">
								</div>
							</div> -->	<!-- .post-slider-nav -->

						</div>	<!-- .post-gallery -->

						<div class="post-meta">

							<div class="row">					

								<div class="col-md-12">

									<date class="entry-meta">
										<p><%= post.created_at.strftime("%d %B %Y") %></p>
										<p><%= post.created_at.strftime("%l : %M") %></p>
									</date>


									<div class="post-comments">
										<div>
											<p>8</p>
										</div>
									</div>

								</div>

							</div>	<!-- .row -->

							<div>
								<h2><%= post.title %></h2>
							</div>

						</div>	<!-- .post-meta -->

						<div class="post-content content-snippet">
							<div class="row">
								
								<div class="col-md-12">
									<div>
										<%= post.body %>
									</div>
									<button>
										<h3><%= link_to "Read More", post %></h3>
									</button>
								</div>

							</div>
						</div>	<!-- post-snippet -->

				</div>	<!-- #post-1 -->
				<% end %>

			</article>   <!-- div#content -->

			<%= render '/layouts/sidebar' %> 

		</div>	<!-- .row -->
	</section> 	<!-- .container -->